extends layout.pug 

block content
    div(id="want-and-visited-container")
      form(method="post" action="/restaurants/visited/add" id=restaurant.id class="add-visited")
        div(id="add-to-visited-button-container")
          button(type="submit" class="form-button" id="add-to-visited-button") Add To Visited!
      form(method="post" action="/restaurants/want-to-visit/add" id=restaurant.id class="add-want-to-visit")
        div(id="add-to-want-button-container")
          button(type="submit" class="form-button" id="want-button") Want To Visit?
    div(id="restaurant-name")= restaurant.name
    div(id="restaurant-category") Category: #{restaurant.category}
    div(id="restaurant-description")=restaurant.description
    div(id="restaurant-img")
      img(src=restaurant.img id="current-restaurant-img")
    div(id="restaurant-streetAddress")=restaurant.streetAddress
    div(id="restaurant-city")=restaurant.city
    div(id="restaurant-state")=restaurant.state
      div(id="restaurant-zipCode") , #{restaurant.zipCode}
    div(id="restaurant-rating")= restaurantRating
    div(id="total-rating-container")
      div(id="total-rating")
        if restaurantRating === 5
          p ⭐⭐⭐⭐⭐
        if restaurantRating === 4
          p ⭐⭐⭐⭐
        if restaurantRating === 3
          p ⭐⭐⭐
        if restaurantRating === 2
          p ⭐⭐
        if restaurantRating === 1
          p ⭐
        if restaurantRating === 0
          p There are no ratings for this restaurant
    div(id="comment-header-container")
      div(id="comments-header") Comments:
    div(id="comments-container")
      div.all-comments
        each comment in restaurantComments
          div(id="comment") 
              div(id="comment-username") User: #{usersArray[comment.userId - 1]}
              div #{comment.comment}
    div(id="rate-it") How was it? Rate and comment below!
    form(method="post" action="/restaurants/comment" id=restaurant.id class="comment-form")
      div(id="rate-container")
        div.rate
          input(type="radio" name="rate" id="star5" value="5")
          label(for="star5" title="text") 5 star
          input(type="radio" name="rate" id="star4" value="4")
          label(for="star4" title="text") 4 star
          input(type="radio" name="rate" id="star3" value="3")
          label(for="star3" title="text") 3 star
          input(type="radio" name="rate" id="star2" value="2")
          label(for="star2" title="text") 2 star
          input(type="radio" name="rate" id="star1" value="1")
          label(for="star1" title="text") 1 star
        br
        br
        br
      div(id="user-comment-container")
        textarea(name="comment" rows="18" cols="70" class="user-comment" id="user-comment-text" required)
      div(id="submit-comment-button-container")
        button(type="submit" class="form-button" id="submit-comment-button") Submit Comment
    script(src="/javascripts/index.js")

