extends layout.pug

block content

  h1= restaurant.name
    div Category: #{restaurant.category}
    div=restaurant.description
    div=restaurant.streetAdress
    div=restaurant.city
    div=restaurant.state
    div=restaurant.zipCode
    div
      img(src=restaurant.img)
    each comment in restaurantComments
      div= comment.comment
    //- div= restaurantRatings[0].rating
    h1 How was it?
    form(method="post" action="/restaurants/:id/comment")
      input(type="hidden" name="_csrf" value=csrfToken)
      div
        textarea(name="comment" rows="18" cols="70")
      div
        button(type="submit") Submit Comment!

