extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="welcome_message")
    h1(id="index-title") Welcome, #{currentUser.username}!
  .content-blocks
    div(id="visited_grid")
      h2(id="visited-h2") Visited Restaurants:
        if visitedRestaurants.length
          - var n = 0;
          while n < 3
            - ++n
            div
              a(href=`/restaurants/${visitedRestaurants[n].id}`)= visitedRestaurants[n].name
            div
            a(href=`/restaurants/${visitedRestaurants[n].id}`)
              img(src=visitedRestaurants[n].img id="index-visited-img")
        else
          p You have no visited restaurants yet!

    div(id="wanted_grid")
      h2(id="want-to-visit-h2") Want To Visit:
        if wantToVisit.length
          - var n = 0;
          while n < 3
            - ++n
            div
              a(href=`/restaurants/${wantToVisit[n].id}`)= wantToVisit[n].name
            div
            a(href=`/restaurants/${wantToVisit[n].id}`)
              img(src=wantToVisit[n].img id="index-want-img")
        else
          p You have no restaurants in your want to visit list! :)
    div(id="top_restaurants")
      h2(id="top-h2") Top Rated Restaurants:
        each restaurant in highestRated
          div
            a(href=`/restaurants/${restaurant.Restaurant.id}`)= restaurant.Restaurant.name
          div
          a(href=`/restaurants/${restaurant.Restaurant.id}`)
            img(src=restaurant.Restaurant.img id="index-top-img")

