extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="welcome_message")
    h1(id="index-title") Welcome, #{currentUser.username}!
  .content-blocks
    div(id="visited_grid")
      if !visitedRendered.length 
        h2 You Have No Visited Restaurants!
      else
        h2(id="visited-h2") Visited Restaurants:
          each restaurant in visitedRendered
            div
              a(href=`/restaurants/${restaurant.id}`)= restaurant.name
            div
            a(href=`/restaurants/${restaurant.id}`)
              img(src=restaurant.img id="index-visited-img")

    div(id="wanted_grid")
      if !wantToVisitRendered.length
        h2 You Have No Want to Visits!
      else
        h2(id="want-to-visit-h2") Want To Visit:
          each restaurant in wantToVisitRendered
              div
                a(href=`/restaurants/${restaurant.id}`)= restaurant.name
              div
              a(href=`/restaurants/${restaurant.id}`)
                img(src=restaurant.img id="index-want-img")
    div(id="top_restaurants")
      h2(id="top-h2") Top Rated Restaurants:
        each restaurant in currentTop
          div
            a(href=`/restaurants/${restaurant.id}`)= restaurant.name
          div
          a(href=`/restaurants/${restaurant.id}`)
            img(src=restaurant.img id="index-top-img")

